.banner {
    position: relative;
    background-color: $color-base;

    img {
        max-width: 100%;
        display: block;
    }

    &__previous,
    &__next {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 30%;
        min-width: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__previous {
        left: 0;
        right: auto;

        background-image: linear-gradient(to right, black, transparent);
    }

    &__next {
        left: auto;
        right: 0;

        background-image: linear-gradient(to left, black, transparent);
    }
}
