.cards {
    --gap: 20px;
    --size-icon: 27px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gap);

    margin: 0 auto;
    max-width: $max-width;
    width: $width;

    img {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center top;
    }

    &__item {
        padding: 10px;
        background-color: lighten($background-color, 3);
        box-shadow: 4px 4px 0 0 darken($background-color, 1);
        border: 1px solid $color-base;
        border-radius: 7px;
        transition: 300ms ease;

        &:hover {
            box-shadow: 4px 4px 0 0 darken($background-color, 10);
        }

        &__images {
            position: relative;
            background-color: darken(white, 80);
            color: white;
            overflow: hidden;
            padding-top: 100%;

            &:hover &__caption {
                opacity: 1;
            }

            &__caption {
                transition: 600ms ease;
                opacity: 0;

                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: auto;
                bottom: 0;
                padding: 10px;
                background-color: rgba(black, 0.6);

                p {
                    margin: 0;
                    line-height: 1.6;
                }

                font: {
                    size: 0.95rem;
                }
            }
        }

        &__content {
            &__icons {
                justify-content: space-between;
                margin-top: 10px;

                svg {
                    width: var(--size-icon);
                    height: var(--size-icon);
                }

                &,
                &__views,
                &__options {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.menu-icons {
    --color: #{darken(white, 90)};

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    &,
    &__item {
        display: flex;
        align-items: center;
    }
    &__item {
        position: relative;
        line-height: 0;
        transition: 300ms ease;
        color: var(--color);
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid;
        border-color: transparent;

        &:hover {
            --color: #{$color-base};
            border-color: rgba($color-base, 0.3);
        }

        path {
            fill: var(--color);
            transition: 300ms ease;
        }

        &__link {
            padding: 0 5px;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
