.container {
    padding: 40px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    background-color: rgba(black, 0.7);
    color: white;
    min-height: 60px;
}