// Colores:
$color-base: #206a5d;
// $color-base: #0080d4;
// $color-base: darken($color-base, 20);
$background-color: #ccccff;
$text-color: darken(white, 80);


// Proporciones:
$width: calc(100% - 20px);
$max-width: 1200px;